# File PATHs الكود الحالي مظبوط على الملف القديم , لو الملف الجديد مشابه للقديم : لا نحتاج تغيير في الكود

In [3]:
Path = 'L:\\_Cloud\\Dropbox\\_Taacis_Working_Folder\\_DataScience\\_Eviva\\_SellerCloud\\_Inventory_PredictedPurchase\\'
NewLinaExcelFile = Path + 'PO containers in the water_25Feb18.xlsx'
PrevLinaExcelFile = Path + '21Jan18\\PO containers in the water_21Jan18.xlsx'

# Import the PREVIOUS Excel file

In [4]:
import pandas as pd

try:
    dfPrevLina = pd.read_excel(PrevLinaExcelFile, sheetname = 'Sheet1')
    print(dfPrevLina.shape)
except:
    print('ERROR: File NOT found')
    
dfPrevLina[15:18]

(230, 12)

,Factory Name,PO Date-Ordered On,PO Number,SKU,Qty,ETA,Arrival Date,PO Number-SC,Cost,Added to SC?,QTY ADDED TO SC?,Comments
15,Wenzhou Youbo,2017-10-23,YB-17SC1017USEVIVA-1,EVMR334-25X39-OK,2.0,2018-01-20 00:00:00,NaN,NaN,X,Yes,NaN,NaN
16,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Sunlight (PI),2017-11-17,KSLT17085,EVVN412-78WH,10.0,2018-02-15 00:00:00,NaN,NaN,X,NaN,NaN,NaN

# Import the NEW Excel file

In [5]:
import pandas as pd

try:
    dfNewLina = pd.read_excel(NewLinaExcelFile, sheetname = 'Sheet1')
    print(dfNewLina.shape)
except:
    print('ERROR: File NOT found')
    
dfNewLina[15:18]

(175, 12)

,Factory Name,PO Date-Ordered On,PO Number,SKU,Qty,ETA,Arrival Date,PO Number-SC,Cost,Added to SC?,QTY ADDED TO SC?,Comments
15,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-24X18ES,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN
16,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-30X18WH,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN
17,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-30X18GR,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN

# Compare #No of Columns and Columns Names in New & Prev Lina's File

In [6]:
#1st Check the #No of Columns in both file
NewRowCnt, NewColCnt =  dfNewLina.shape
PrevRowCnt, PrevColCnt = dfPrevLina.shape
print(NewRowCnt, NewColCnt,PrevRowCnt, PrevColCnt)

if NewColCnt == PrevColCnt:
    print('OK: Number of Columns are the SAME')
else:
    print('Error: check the Dimension')
        
# 2nd check the Columns NAMEs 
N = [[] for k in range(NewColCnt)]
P = [[] for k in range(NewColCnt)]

for i in range(NewColCnt):
    N[i]=dfNewLina.columns[i]
    P[i]=dfPrevLina.columns[i]
    
if N == P:
    print('OK: Column Names are the SAME')
else:
    print('Error: Check Columns Names')

175 12 230 12
OK: Number of Columns are the SAME
OK: Column Names are the SAME

# Understand the Anatomy of your Columns

In [7]:
i=0
for c in dfNewLina.columns: 
    print('{}=>{}<'.format(i,c))
    i+=1

0=>Factory Name<
1=>PO Date-Ordered On <
2=>PO Number<
3=>SKU<
4=>Qty<
5=>ETA<
6=>Arrival Date<
7=>PO Number-SC<
8=>Cost<
9=>Added to SC? <
10=>QTY ADDED TO SC?<
11=>Comments<

In [8]:
dfNewLina.columns

Index(['Factory Name', 'PO Date-Ordered On ', 'PO Number', 'SKU', 'Qty', 'ETA',
       'Arrival Date', 'PO Number-SC', 'Cost', 'Added to SC? ',
       'QTY ADDED TO SC?', 'Comments'],
      dtype='object')

# RENAME the Columns with your own Names

In [9]:
NewColNames=('FactoryName','PO_Date_OrderOn','PoNumber','SKU','Qty','ETA','ArrivalDate','PoNumberSC','Cost','AddedToSC','QtyAddedToSC','Comments')

dfMyLina=dfNewLina

i=0
for col in dfMyLina.columns:
    dfMyLina=dfMyLina.rename(columns={col:NewColNames[i]}) #dfMyLina =dfMyLina.rename(columns={dfNewLina.columns[0]:NewColNames[0]})
    i+=1
 
print(dfMyLina.shape)
dfMyLina[15:18]

(175, 12)

,FactoryName,PO_Date_OrderOn,PoNumber,SKU,Qty,ETA,ArrivalDate,PoNumberSC,Cost,AddedToSC,QtyAddedToSC,Comments
15,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-24X18ES,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN
16,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-30X18WH,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN
17,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-30X18GR,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN

# Delete any ROW with ALL values = NaN

In [10]:
dfNoNaN = dfMyLina.dropna(axis=0, how='all')

print(dfNoNaN.shape)
dfNoNaN[15:18]

(174, 12)

,FactoryName,PO_Date_OrderOn,PoNumber,SKU,Qty,ETA,ArrivalDate,PoNumberSC,Cost,AddedToSC,QtyAddedToSC,Comments
16,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-30X18WH,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN
17,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-30X18GR,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN
18,Sunlight PI,2017-11-23 00:00:00,KSLT17092,TVN414-30X18ES,10.0,2017-01-23,NaN,NaN,NaN,NaN,NaN,NaN

# SELECT needed columns ONLY

In [196]:
df01 = dfNoNaN[['SKU','Qty','ETA','ArrivalDate','PO_Date_OrderOn','PoNumber']]
df01.head(5)

             SKU   Qty        ETA  ArrivalDate      PO_Date_OrderOn   PoNumber
1  EVVN412--72GR  30.0 2017-01-23          NaN  2017-11-23 00:00:00  KSLT17092
2   EVVN412-42WH  20.0 2017-01-23          NaN  2017-11-23 00:00:00  KSLT17092
3   EVVN412-42GR  15.0 2017-01-23          NaN  2017-11-23 00:00:00  KSLT17092
4   EVVN412-42ES  10.0 2017-01-23          NaN  2017-11-23 00:00:00  KSLT17092
5    EVVN78-48WH   5.0 2017-01-23          NaN  2017-11-23 00:00:00  KSLT17092

In [197]:
df01.shape

(174, 6)

# SELECT needed rows ONLY

In [229]:
df02 = df01[df01['ETA'] > datetime.now()]
df02.head()

             SKU   Qty        ETA  ArrivalDate      PO_Date_OrderOn   PoNumber
59  EVVN412-42WH  20.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
60  EVVN412-42GR  20.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
61  EVVN412-42ES  10.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
62  EVVN123-48WH  10.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
63  EVVN123-48GR  10.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100

In [ ]:
df02 = df02.reset_index()

df02.head()

In [230]:
del df02['index']

df02.head()

            SKU   Qty        ETA  ArrivalDate      PO_Date_OrderOn   PoNumber
0  EVVN412-42WH  20.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
1  EVVN412-42GR  20.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
2  EVVN412-42ES  10.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
3  EVVN123-48WH  10.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100
4  EVVN123-48GR  10.0 2018-02-28          NaN  2017-12-14 00:00:00  KSLT17100

In [231]:
df02.shape

(92, 6)

# Check & Verify Columns type (for each element)

In [245]:
# To Check/Get CELL type, uese one of the following :
#a = type(df02.at[5,'Qty'])
#a = type(df02.iat[5,1])
#a = df02.at[5,'Qty'].dtype
#a = print(type(df02.iat[3,1]))

# To Check/Get COLUMN type, use one of the following :-
#a = type(df02.dtypes)    
#a = df02.dtypes
#a = df02['ETA'].dtypes

a

dtype('<M8[ns]')

In [233]:

# Parameters:-
#           pandas datafram
#           Column Name as String
#           Type(NOT String) : int, datetime, float, pandas._libs.tslib.Timestamp, str
def pdCheckColumType(df, cName, cType):
    flag = True
    for index, row in df.iterrows():
        t = type(row[cName])
        if t is cType: pass
            #print("OK")
        else:
            flag = False
            print("Err: ", index, "{} Type is: ".format(cName), t)
    return flag

#Check ALL Cells type (Column by Column)
pdCheckColumType(df02,'PoNumber',str) 
pdCheckColumType(df02,'PO_Date_OrderOn',datetime)
pdCheckColumType(df02,'ArrivalDate',float)
pdCheckColumType(df02,'ETA',pd._libs.tslib.Timestamp)
pdCheckColumType(df02,'Qty',float)
pdCheckColumType(df02,'SKU',str)

Err:  46 PoNumber Type is:  <class 'int'>
Err:  47 PoNumber Type is:  <class 'int'>
Err:  48 PoNumber Type is:  <class 'int'>
Err:  49 PoNumber Type is:  <class 'int'>
Err:  50 PoNumber Type is:  <class 'int'>
Err:  51 PoNumber Type is:  <class 'int'>
Err:  52 PoNumber Type is:  <class 'int'>
Err:  31 PO_Date_OrderOn Type is:  <class 'str'>
Err:  32 PO_Date_OrderOn Type is:  <class 'str'>
Err:  33 PO_Date_OrderOn Type is:  <class 'str'>
Err:  34 PO_Date_OrderOn Type is:  <class 'str'>
Err:  35 PO_Date_OrderOn Type is:  <class 'str'>
Err:  36 PO_Date_OrderOn Type is:  <class 'str'>
Err:  37 PO_Date_OrderOn Type is:  <class 'str'>
Err:  38 PO_Date_OrderOn Type is:  <class 'str'>
Err:  39 PO_Date_OrderOn Type is:  <class 'str'>
Err:  40 PO_Date_OrderOn Type is:  <class 'str'>
Err:  41 PO_Date_OrderOn Type is:  <class 'str'>
Err:  42 PO_Date_OrderOn Type is:  <class 'str'>
Err:  43 PO_Date_OrderOn Type is:  <class 'str'>
Err:  44 PO_Date_OrderOn Type is:  <class 'str'>
Err:  45 PO_Date_OrderOn Type is:  <class 'str'>
Err:  46 PO_Date_OrderOn Type is:  <class 'str'>
Err:  47 PO_Date_OrderOn Type is:  <class 'str'>
Err:  48 PO_Date_OrderOn Type is:  <class 'str'>
Err:  49 PO_Date_OrderOn Type is:  <class 'str'>
Err:  50 PO_Date_OrderOn Type is:  <class 'str'>
Err:  51 PO_Date_OrderOn Type is:  <class 'str'>
Err:  52 PO_Date_OrderOn Type is:  <class 'str'>

True

# Access CELL in Datafram

In [253]:
# To access a CELL, use > df01.at[5,'Qty']   OR df01.iat[5,1]
a = df02.at[4,'Qty']
#a = df02.iat[4,1]

a

10.0

In [303]:
writer = pd.ExcelWriter('L:\\output.xlsx',
                        engine='xlsxwriter',
                        datetime_format='d mmm yyyy hh:mm:ss',
                        date_format='dd mmmm yyyy')
# This is the default
df02.to_excel(writer, sheet_name='Sheet2')

# Turn off the default header and skip one row to allow us to insert a user defined header.
df01.to_excel(writer, sheet_name='Sheet1', startrow=1, header=False)  # http://xlsxwriter.readthedocs.io/working_with_pandas.html

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

# Add your format.
format_01 = workbook.add_format({
    'bold': True,
    'text_wrap': False,
    'valign': 'top',
    'font_color': '#9C0006',
    'bg_color':'#FFC7CE',   # http://xlsxwriter.readthedocs.io/format.html
    'border': 13})
format_02 = workbook.add_format({    # http://pbpython.com/improve-pandas-excel-output.html
    'bg_color': '#C6EFCE',
    'font_color': '#006100'})

# Write the column headers with the defined format.
for col_num, value in enumerate(df01.columns.values):
    worksheet.write(0, col_num + 1, value, format_01)

writer.save()